<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../static/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/libs/css/style.css">
    <link rel="stylesheet" href="../static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../static/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="../static/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="../static/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="../static/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/index.js"></script>
    <title></title>
    <style>
        #overlay {
            background: #100e0e;
            filter: alpha(opacity=50); /* IE的透明度 */
            opacity: 0.5; /* 透明度 */
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 100; /* 此处的图层要大于页面 */
            display: none;
        }
        .over_flow{
            top: 50%;
            left: 50%;
            position: absolute;
            display: none;
            z-index: 101; /* 此处的图层要遮盖层 */
        }
        .input_file {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: 1px solid rgba(255, 255, 255, 0.4);
                width: 100%;
                border-radius: 3px;
                padding: 5px 10px;
                margin: 0;
                display: block;
                text-align: center;
                font-size: 15px;
                transition-duration: 0.25s;
                font-weight: 300;
        }
    </style>
    <script>
        $(function () {

             //获取链接创建COOKIE
             $('.sqlda_bt').click(function () {
                 var con = {"con":$('.sql_b').val()};
                 console.log(con);
                 $.ajax({
                     type:'post',
                     url:'/con_db',
                     data:con,
                     dataType:'json',
                     //因为创建cookie的  此处存在问题
                     success:function(data){

                     },
                     error:function(){

                     }
                 });
             });

             //上传
             $("#upload_button").click(function () {
                var data = new FormData($('#up_form')[0]);  //要加【0】
                console.log(data);
                //同时传文件和文本 暂时废弃
                /* var formData = new FormData();
                 formData.append('file',$('#up_form')[0]);
                 formData.append('con',$('#input-select').val());
                 console.log(formData);*/

                 //遮罩样式
                 var pageHeight = window.screen.availHeight;
                 var pageWidth = window.screen.availWidth;
                 $("#overlay").height(pageHeight);
                 $("#overlay").width(pageWidth);
                 // fadeTo第一个参数为速度，第二个为透明度
                 // 多重方式控制透明度，保证兼容性，但也带来修改麻烦的问题
                 $("#overlay").fadeTo(200, 0.5);
                 $(".over_flow").show();


                $('#center').show();
                $.ajax({
                    type: 'POST',
                    url: '/upload',    //当前路径
                    data: data,
                    dataType: 'json',
                    processData: false,    //序列化，no
                    contentType: false,    //不设置内容类型
                    beforeSend: function(){
                            uploading = true;
                        },
                    success: function (data) {
                        var state = data['state'];
                        console.log(state);
                        if(state=='t'){
                            $("#overlay").fadeOut(200);
                            $(".over_flow").hide();
                            alert('数据入库成功');
                        }
                        else if(state=='0'){
                             $("#overlay").fadeOut(200);
                             $(".over_flow").hide();
                            alert('请先添加一个数据库连接！');
                        }
                        else if(state=='00'){
                             $("#overlay").fadeOut(200);
                             $(".over_flow").hide();
                            alert('请先选择一个上传文件格式为 excel csv zip！');
                        }
                        else if(state=='F'){
                             $("#overlay").fadeOut(200);
                             $(".over_flow").hide();
                            alert('请上传excel csv zip文件！');
                        }
                        else{
                            $("#overlay").fadeOut(200);
                            $(".over_flow").hide();
                            alert('数据入库失败。');
                        };
                        uploading = false;

                    },
                    error: function (data) {
                        alert('服务异常，请稍后重试');
                        console.log(data);
                    }
                });
            });
        })
    </script>
</head>

<body>
<div id="overlay"></div>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/index">飞鱼数据面板</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <div class="input-group mb-3">
                        			<input type="text" class="form-control">
                        			<div class="input-group-append">
                        				<button type="button" class="btn btn-primary">搜索</button>
                        			</div>
                        		</div>
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../static/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../static/assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../static/assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="../static/assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../static/assets/images/github.png" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../static/assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../static/assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../static/assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../static/assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="../static/assets/images/slack.png" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">用户</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="/usercenter"><i class="fas fa-user mr-2"></i>用户信息</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>设置</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal" href="#"><i class="fas fa-power-off mr-2"></i>退出</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">数据可视化分析</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>数据可视化分析<span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/data_view">可疑人员分布图</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">交易流水分析</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>添加数据库连接</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                  <a class="nav-link" href="/index">添加数据库</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>数据入库</a>
                                <div id="submenu-3" class="collapse submenu" style="">
								     <a class="nav-link" href="/import_sql">数据入库</a>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>数据库操作</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/operation">数据库管理工具</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/super_table">超级表格</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>数据采集</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/colection">爬虫采集</a>
                                        </li>                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-table"></i>权限开通</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/">权限管理</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/">权限开通</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">大批量csv文件入库</h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">编码</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">如果数据表中存在繁体字等字符，建议存GB18030数据库，UTF8编码库可能会存在繁体字数据丢失。</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
							  <!-- ============================================================== -->
							  <!-- horizontal form -->
							  <!-- ============================================================== -->
							  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								  <div class="card">
									  <h5 class="card-header">数据入库</h5>
									  <div class="card-body">
										  <form mathod = "post" id="up_form" data-parsley-validate="" novalidate="" enctype="multipart/form-data">
											  <div class="custom-file mb-3">
                                                  <label class="" for="customFile">请选择上传文件</label>
                                                  <br>
                                                  <input type="file" name="file" class="input_file" accept=".xls,.xlsx,.csv,.zip" id="customFile">
											  </div>
                                              <br>
                                              <br>
											  <div class="form-group">
												  <label for="input-select">请选择数据库</label>
												  <select class="form-control sqlda_bt sql_b" id="input-select">
                                                      {% for i in con_list1 %}
                                                          {% for value in i.values() %}
                                                            <option>{{ value }}</option>
                                                          {% endfor %}
                                                      {% endfor %}
												  </select>
											  </div>
											  <div class="row pt-2 pt-sm-5 mt-1">
												  <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">

												  </div>
												  <div class="col-sm-6 pl-0">
													  <p class="text-right">
														  <button type="button" id = "upload_button" class="btn btn-space btn-primary">上传</button>
													  </p>
												  </div>
											  </div>
										  </form>

									  </div>
								  </div>
							  </div>
							  <!-- ============================================================== -->
							  <!-- end horizontal form -->
							  <!-- ============================================================== -->                  
                        </div>
						<div class="row">
                            <div class="over_flow">
                                 <span class="dashboard-spinner spinner-success spinner-xxl"></span>
                                <br>
                                <br>
                                <br>
                                <p style="text-align:center;color:white;">正在入库 请稍后 ...</p>
                             </div>
                        </div>
                        <!--退出框-->
                        <div class="card-body">
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">退出登录</h5>
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </a>
                                        </div>
                                        <div class="modal-body">
                                            <p>请确认是否退出</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-secondary" data-dismiss="modal">取消</a>
                                            <a href="#" class="btn btn-primary" id="login_out">退出</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="../static/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="../static/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="../static/assets/libs/js/main-js.js"></script>
    <!-- sparkline js -->
    <script src="../static/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="../static/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    
    <!-- chart c3 js -->
    <script src="../static/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="../static/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="../static/assets/vendor/charts/c3charts/C3chartjs.js"></script>
</body>
 
</html>